---
title: Sign Up
---

<section class="section">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">We&rsquo;re nearly there!</h1>
      <h2 class="section-head-text">Leave us your email address and we&rsquo;ll get back to when we&rsquo;re ready.</h2>
    </hgroup>
    <div class="row">
      <div class="large-8 small-12 columns large-offset-2">
        <form method=post action="http://data.hyperaud.io/subscribe" class="form">
          <div class="form-component">
            <input name="email" type="text" class="form-input text-input block large centered" placeholder="your@email.com"/>
            <p class="form-note">We will only use your email to send you Hyperaudio related updates. We hate spam too.</p>
          </div>
          <div class="form-component actions">
            <button class="button large primary">Keep me informed</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <hgroup class="call">
      <h1 class="call-heading">Not sold yet? <%= link 'Check what Hyperadio has to offer', '/tour/' %>.</h1>
    </hgroup>
  </div>
</section>

<hr class="separator" />