/* Hyperaudio styles overriding compiled CSS
------------------------------------------- */

/* used for switching and hiding login / logout buttons before they are ready */

body.anonymous .user {
  display: none;
}

body.user .anonymous {
  display: none;
}

.article-body {
  text-align: left;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  word-break: none;
  word-break: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  -ms-word-break: none;
  word-break: none;
}
