---
title: Log In
---

<section class="section">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">Log in</h1>
    </hgroup>
    <div class="row">
      <div class="large-8 small-12 columns large-offset-2">
        <form class="form">
          <div class="form-component">
            <label for="username" class="form-label centered">Username</label>
            <input type="text" name="username" class="form-input text-input block large centered" placeholder="your@email.com"/>
            <p class="form-alert">Wrong username.</p>
          </div>
          <div class="form-component">
            <label for="password" class="form-label centered">Password</label>
            <input type="password" name="password" class="form-input text-input block large centered" />
            <p class="form-alert">Wrong password.</p>
          </div>
          <div class="form-component actions">
            <button class="button large primary">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />