/* Body text
----------------------------------------------- */

// Text Selection
::selection { background: $brand-color; }      /* Safari */
::-moz-selection { background: $brand-color; } /* Firefox */

blockquote {
  padding: 0;
  margin: 0;
}

abbr[title] {
  border: none;
}