---
title: Blog
---

<section class="blog-listing section">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">News from the Hyperaudio front.</h1>
    </hgroup>
    <ol class="listing compact ordered article-list">
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'The Hyperaudio Pad — Next Steps and Media Literacy', '/blog/the-hyperaudio-pad-next-steps-and-media-literacy.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
    </ol>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <hgroup class="call">
      <h1 class="call-heading">Interested in Hyperaudio? <%= link_to 'Learn more.', '/tour/' %></h1>
    </hgroup>
  </div>
</section>

<hr class="separator" />