/* Colour Palette
----------------------------------------------- */

$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(40);

// Shades of Grey
$dark              : #000;
$bright            : #fff;

$heavy             : rgba(0,0,0,0.88);
$mono-heavy        : rgba(0,0,0,0.77);
$mono-strong       : rgba(0,0,0,0.66);
$mono-mid          : rgba(0,0,0,0.55);
$mono-weak         : rgba(0,0,0,0.35);
$mono-light        : rgba(0,0,0,0.20);
$light             : rgba(0,0,0,0.04);

// Rainbow

$brand-color       : rgba(243,156,18,1);
$brand-color-light : #F6B958;
$brand-color-xlight: rgba(243,156,18,0.05);
$alt-color         : rgba(44,62,80,1);
$alt-color-light   : rgba(44,62,80,0.1);

// Shadows
$shadow-heavy      : rgba(0,0,0,0.9);
$shadow-strong     : rgba(0,0,0,0.7);
$shadow-mid        : rgba(0,0,0,0.5);
$shadow-weak       : rgba(0,0,0,0.2);
$shadow-light      : rgba(0,0,0,0.05);

// Flares
$flare-heavy       : rgba(255,255,255,0.9);
$flare-strong      : rgba(255,255,255,0.7);
$flare-mid         : rgba(255,255,255,0.5);
$flare-weak        : rgba(255,255,255,0.2);
$flare-light       : rgba(255,255,255,0.1);

/* Typography
----------------------------------------------- */

// Font Families
$primary-font      : 'Source Sans Pro', sans-serif;
$secondary-font    : 'Exo 2', sans-serif;

// Font Sizes
$font-h            : 35px; // humongous
$font-t            : 10px; // tiny

$font-xl           : 35px;
$font-l            : 25px;
$font-m            : 17px;
$font-s            : 16px;
$font-xs           : 15px;

// Line Heights
$lheight-xl        : 2.4em;
$lheight-l         : 1.7em;
$lheight-m         : 1.5em;
$lheight-s         : 1.4em;
$lheight-xs        : 1.2em;

/* Spaces
----------------------------------------------- */
$space-h           : 80px;
$space-l           : 40px;
$space-m           : 20px;
$space-s           : 10px;
$space-x           : 5px;

/* Border Radii
----------------------------------------------- */
$radius-absolute   : 100px;
$radius-l          : 8px;
$radius-m          : 6px;
$radius-s          : 3px;

/* Default definitions
----------------------------------------------- */
$dflt-background  : $bright;
$dflt-color       : $mono-strong;
$dflt-font        : $primary-font;
$dflt-font-size   : $font-s;
$dflt-line-height : $lheight-s;