/* Layout Generic
------------------------------------------- */

.row { // Foundation Override
  max-width: 960px;
}

.section {
  @include clearfix;
  padding-top: $space-h;
  padding-bottom: $space-h;
  position: relative;
  &.plain {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.container {
  @include clearfix;
  margin: 0 auto;
  min-height: 100%;
  max-width: 960px;
}

/* Layout Specific
------------------------------------------- */

.section.lt_homefold {
  padding-top: $space-l;
  padding-bottom: 0;
  @media #{$small-only} {
    padding-top: $space-s;
  }
}
.lt_pitch {
  margin-bottom: $space-h;
}

/* Media Queries
------------------------------------------- */

@media #{$small-only} {
  .lt_pitch {
    margin-bottom: $space-l;
  }
  .section {
    padding-left: $space-s;
    padding-right: $space-s;
    padding-top: $space-l;
    padding-bottom: $space-l;
  }
}

@media #{$medium-only} {
  .lt_pitch {
    margin-bottom: $space-l;
  }
  .section {
    padding-left: $space-m;
    padding-right: $space-m;
    padding-top: $space-l;
    padding-bottom: $space-l;
  }
}
@media #{$large-only} {

}