/* Layout Generic
------------------------------------------- */

@media #{$medium-up} {
  .row {
    max-width: 96rem;
  }
  .container {
    @include clearfix;
    margin: 0 auto;
    min-height: 100%;
    max-width: 960px;
  }

  .section > .container,
  .footer > .container {
    max-width: 88rem;
  }
}

@media #{$small-only} {
  section {
    padding-left: $space-m;
    padding-right: $space-m;
  }
}
@media #{$medium-only} {
  section {
    padding-left: $space-l;
    padding-right: $space-l;
  }
}

@media #{$large-up} {
  .row,
  .container {
    max-width: 100rem;
  }
  .section > .container,
  .footer > .container {
    max-width: 99rem;
  }
}