/* Layout Generic
------------------------------------------- */

@media #{$medium} {
  .row {
    max-width: 96rem;
  }
  .container {
    @include clearfix;
    margin: 0 auto;
    min-height: 100%;
    max-width: 960px;
  }

  .section > .container,
  .footer > .container {
    max-width: 88rem;
  }
}

@media #{$large} {
  .row,
  .container {
    max-width: 100rem;
  }
  .section > .container,
  .footer > .container {
    max-width: 99rem;
  }
}