@charset "utf-8";

/* Import Gem-based Base Frameworks
------------------------------------------- */
@import "compass";
@import "vendor/foundation/scss/normalize";
@import "vendor/foundation/scss/foundation/components/global";
@import "vendor/foundation/scss/foundation/components/grid";

/* Import Bower-driven Vendor Modules
------------------------------------------- */

/* Import Other External Assets
------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Exo:500,700,500italic|Merriweather+Sans:400,700,400italic,700italic);

/* Import Hyperaudio Library Mixins
------------------------------------------- */
@import "lib/hidetext";
@import "lib/position";

/* Import Site Config
------------------------------------------- */
@import "config";

/* Styleguide Styles
------------------------------------------- */

// Navigation
.sg-nav {
  list-style: decimal;
}
.sg-nav-item {

}
.sg-nav-link {
  display: block;
  margin-left: $space-s;
  padding: $space-m 0;
  border-bottom: 1px solid $light !important;
  &.active {
    color: $mono-strong;
  }
}

// Module
.sg-mod {
  position: relative;
  margin-bottom: $space-xl;
}
.sg-mod-heading {
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid $light;
  font-weight: bold;
  font-size: $font-l;
  line-height: $lheight-m;
  .sg-mod-class {
    @include border-radius($radius-s);
    @include position-top-right($space-s, 0);
    padding: $space-s $space-m;
    border: 1px solid $light;
    background: $bright;
    color: $mono-mid;
    font-size: $font-s;
    font-family: monospace;
    line-height: $lheight-xs;
  }
}
.sg-mod-intro {
  p, ul, ol {
    margin-bottom: $space-l;
    padding: 0;
  }
  p, li {
    font-size: $font-s;
    line-height: $lheight-m;
  }
  p {

  }
  ul {

  }
  ol {

  }
  li {
    margin-left: $space-l - $space-xs;
  }
  iframe {
    border: 1px solid $light;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      border: 2px solid white; /* should match background, can't be transparent */
      border-radius: 8px;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}
.sg-mod-canvas {
  margin-top: $space-m;
  padding: $space-l;
  border: 1px solid $light;
  background: image-url("backgrounds/sg-grid.png") repeat;
  * {
    margin: 0;
    padding: 0;
  }
}