@charset "utf-8";

/* Import Gem-based Base Frameworks
------------------------------------------- */
@import "compass";

/* Import Bower-driven Vendor Modules
------------------------------------------- */

/* Import Other External Assets
------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Exo+2:400,700,400italic);

/* Import Hyperaudio Library Mixins
------------------------------------------- */
@import "lib/hidetext";
@import "lib/position";

/* Import Site Config
------------------------------------------- */
@import "config";

/* Styleguide Styles
------------------------------------------- */

.tpl_sg > section {
  padding: $space-h 0;
}

.sg-container {
  padding: 0 $space-s;
}

// Navigation
.sg-nav {
  color: $mono-light;
  list-style: decimal;
  margin-bottom: $space-l;
}
.sg-nav-item {
  display: block;
}
.sg-nav-separator {
  border-bottom: 1px solid $light;
}
.sg-nav-link {
  display: block !important;
  margin-left: $space-x;
  padding: $space-s 0;
  border-bottom: 1px solid $light !important;
  &:hover,
  &.active {
    color: $mono-strong;
  }
}

// Module
.sg-mod {
  position: relative;
  margin-bottom: $space-l;
}
.sg-mod-heading {
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid $light;
  font-weight: bold;
  font-size: $font-l;
  line-height: $lheight-m;
  .sg-mod-class {
    @include border-radius($radius-s);
    @include position-top-right($space-x, 0);
    padding: $space-x $space-s;
    border: 1px solid $light;
    background: $bright;
    color: $mono-mid;
    font-size: $font-s;
    font-family: monospace;
    line-height: $lheight-xs;
  }
}
.sg-mod-intro {
  p, ul, ol, pre {
    margin-bottom: $space-m;
    padding: 0;
  }
  p, li {
    font-size: $font-s;
    line-height: $lheight-m;
  }
  p {

  }
  pre {
    @include border-radius($radius-s);
    padding: $space-x $space-x;
    border: 1px solid $light;
    background: $bright;
    color: $mono-mid;
    font-size: $font-m;
    font-family: monospace;
    line-height: $lheight-m;
  }
  ul {

  }
  ol {

  }
  li {
    margin-left: ($space-m - 2px);
  }
  iframe {
    border: 1px solid $light;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      border: 2px solid white; /* should match background, can't be transparent */
      border-radius: 8px;
      background-color: rgba(0, 0, 0, .5);
    }
  }
  figure {
    @include border-radius($radius-s);
    border: 1px solid $light;
    background: $bright;
    font-family: monospace;
    line-height: $lheight-xs;
    margin-top: $space-m;
    padding: $space-m;
    text-align: center;
    &.inverted {
      background: $shadow-mid;
    }
    img {
      display: inline-block;
    }
  }
  code {
    @include border-radius($radius-s);
    padding: $space-x $space-x;
    border: 1px solid $light;
    background: $bright;
    color: $mono-mid;
    font-size: $font-s;
    font-family: monospace;
    line-height: $lheight-xs;
  }
}
.sg-mod-canvas {
  margin-top: $space-m;
  padding: $space-m;
  border: 1px solid $light;
  background: image-url("backgrounds/sg-grid.png") repeat;
  position: relative;
}
.sg-mod-canvas-note {
  @include position-top-left(-($space-s), $space-m);
  @include border-radius($radius-s);
  background: $bright;
  border: 1px solid $light;
  color: $mono-mid;
  font-family: $primary-font;
  font-size: $font-xs;
  font-weight: normal;
  line-height: $lheight-s;
  padding: $space-x $space-x;
  white-space: nowrap;
}