/* Footer
----------------------------------------------- */

.footer {
  padding: $space-h 0;
}
.footer-imprint {
  margin-top: $space-h;
  font-size: $font-xs;
  text-align: center;
  color: $mono-weak;
  p {
    margin: 0;
  }
}
