/* Pitch
----------------------------------------------- */

.pitch {
  text-align: center;
}
.pitch-heading {
  font-size: $font-h;
}
.pitch-text {
  font-weight: normal;
  margin-top: $space-m;
}

.pitch.compact {
  .pitch-text {
    margin-bottom: $space-l;
    margin-top: 0;
    font-size: $font-m;
    color: $mono-weak;
  }
}