/* Buttons
----------------------------------------------- */

a.button,
button.button,
.button,
input[type="submit"] {
  @include border-radius($radius-s);
  background: transparent;
  border: 1px solid $alt-color-light;
  color: $alt-color;
  display: inline-block;
  font-weight: bold;
  line-height: $lheight-m;
  padding: $space-x $space-s;
  &:hover {
    background: #2C3E50;
    color: $bright !important;
    text-shadow: none !important;
    // -webkit-transition: all 0.3s;
    // -moz-transition: all 0.3s;
    // transition: all 0.3s;
  }
  &:active {
    opacity: 0.7;
    // -webkit-transition: all 0.3s;
    // -moz-transition: all 0.3s;
    // transition: all 0.3s;
  }
  &.active {
    border-bottom: 1px solid $alt-color-light;
  }
}

.button.primary {
  background: $alt-color;
  border-color: $alt-color;
  color: $bright;
  text-shadow: none;
}

.button.block {
  @include box-sizing(border-box);
  display: block !important;
  text-align: center;
  width: 100%;
}

.button.large {
  padding: $space-s $space-m !important;
  text-align: center;
}

.button.small {
  font-size: $font-xs;
  padding: $space-x $space-s;
}

/* Queries
----------------------------------------------- */

@media #{$small-up} {
}

@media #{$medium-up} {
}

@media #{$large-up} {
}