/* Body
----------------------------------------------- */

body {
  background: $dflt-background;
  color: $dflt-color;
  font-family: $dflt-font;
  font-size: $dflt-font-size;
  line-height: $dflt-line-height;
}

a, abbr, code, li, ol, p, span, ul {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

// Text Selection
::selection { background: $alt-color-light; }      /* Safari */
::-moz-selection { background: $alt-color-light; } /* Firefox */

blockquote {
  border: none;
  margin: 0;
  padding: 0;
}

abbr[title] {
  border: none;
}