/* Headings
----------------------------------------------- */

.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.heading-xs {
  display: block;
  font-family: $secondary-font;
  line-height: $lheight-s;
  padding: 0;
  margin: 0;
}

.heading-xl {
  color: $alt-color;
  font-size: $font-h;
  font-weight: bold;
  text-transform: capitalize;
}
.heading-l {
  color: $alt-color;
  font-size: $font-l;
  font-weight: bold;
}
.heading-m {
  color: $mono-mid;
  font-size: $font-m;
  font-weight: bold;
}
.heading-s {
  color: $mono-mid;
  font-size: $font-s;
  font-weight: bold;
}
.heading-xs {
  color: $mono-mid;
  font-size: $font-xs;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 { @extend .heading-xl; }
h2 { @extend .heading-l; }
h3 { @extend .heading-m; }
h4 { @extend .heading-s; }
h5 { @extend .heading-xs; }

@media #{$small-only} {
  .heading-xl {
    font-size: $font-l;
  }
  .heading-l {
    font-size: $font-m;
  }
  .heading-m {
    font-size: ($font-s + 5px);
  }
  .heading-s {
    font-size: ($font-xs + 5px);
  }
  .heading-xs {
    font-size: $font-xs;
  }
}
@media #{$medium-only} {
  .heading-xl {
    font-size: $font-xl;
  }
  .heading-l {
    font-size: ($font-m + 7px);
  }
  .heading-m {
    font-size: ($font-s + 5px);
  }
  .heading-s {
    font-size: ($font-xs + 5px);
  }
  .heading-xs {
    font-size: $font-xs;
  }
}
@media #{$large-only} {
}