/* Headings
----------------------------------------------- */

.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.heading-xs {
  display: block;
  font-family: $secondary-font;
  line-height: $lheight-s;
}

.heading-xl {
  color: $alt-color;
  font-size: $font-xl;
  font-weight: bold;
  line-height: $lheight-m;
  text-transform: capitalize;
}
.heading-l {
  color: $alt-color;
  font-size: $font-l;
  font-weight: bold;
  line-height: $lheight-m;
}
.heading-m {
  color: $mono-mid;
  font-size: $font-m;
  font-weight: bold;
  line-height: $lheight-s;
}
.heading-s {
  color: $mono-mid;
  font-size: $font-s;
  font-weight: bold;
  line-height: $lheight-s;
}
.heading-xs {
  color: $mono-mid;
  font-size: $font-xs;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: $lheight-s;
  text-transform: uppercase;
}

h1 { @extend .heading-xl; }
h2 { @extend .heading-l; }
h3 { @extend .heading-m; }
h4 { @extend .heading-s; }
h5 { @extend .heading-xs; }