/* Links
----------------------------------------------- */

.link,
.link:hover,
.link:active {
  color: $brand-color;
  cursor: pointer;
  display: inline-block;
}

.link {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  &:focus,
  &:hover,
  &.active,
  &:active {
    border-bottom: 1px solid $brand-color;
    // -webkit-transition: all 0.3s;
    // -moz-transition: all 0.3s;
    // transition: all 0.3s;
  }
  &:active {
    opacity: 0.7
  }
  &.altered {
    font-weight: bold !important;
  }
}

a {
  @extend .link
}