/* Article
----------------------------------------------- */

.article {
  position: relative;
}
.article-head {
  margin-bottom: $space-xl;
}
.article-heading {
  font-size: $font-m;
  color: $mono-weak;
  text-align: center;
}
.article-title {
  font-size: $font-xl;
}
.article-meta {
  display: block;
  text-align: center;
  font-style: italic;
  color: $mono-weak;
  font-size: $font-s;
}
.article-date {
}
.article-author {
  font-style: italic;
  color: $mono-weak;
  font-size: $font-s;
}
.article {
  .article-title {
    text-align: center;
    margin: $space-m;
  }
}

.article-body {
  line-height: $lheight-l;
  blockquote {
    margin: $space-l;
    padding-left: $space-l;
    font-style: italic;
    border-left: $space-s solid $light;
  }
  ul,
  ol {
    margin: $space-l;
  }
  p {
  }
  a {
    white-space: pre-line;
  }
  figure {
    border: 1px solid $light;
    margin-bottom: $space-l;
    > a {
      border: none !important;
      padding: 0;
      line-height: 0;
    }
    figcaption {
      font-size: $font-xs;
      line-height: $lheight-m;
      padding: $space-m;
      color: $mono-mid;
    }
  }
}

.article.excerpt {
  .article-title {
    text-align: center;
  }
  .article-date {
    text-align: center;
    margin-bottom: $space-xl;
    display: block;
  }
}