/* Brandmark
----------------------------------------------- */

.brandmark {
  border: none !important;
  display: inline-block;
  font-size: 0;
  height: 40px;
}
.brandmark-symbol {
  float: left;
  height: 40px;
  margin-right: $space-m;
}
.brandmark-label {
  font-family: $secondary-font;
  font-size: $font-m;
  font-weight: bold;
  line-height: 40px;
}