.brandmark {
  display: inline-block;
  height: 40px;
  border: none !important;
}
.brandmark-symbol {
  margin-right: $space-m;
  height: 40px;
  float: left;
}
.brandmark-label {
  font-size: $font-l;
  font-family: $secondary-font;
  line-height: 40px;
  font-weight: bold;
}