/* Massive Call to Action
----------------------------------------------- */

.call {
  text-align: center;
}
.call-heading {
  font-size: $font-xl;
}
.call-text {
  font-weight: normal;
  margin-top: $space-m;
}