/* Characteristics
----------------------------------------------- */

.characteristics {
  margin-top: $space-xl;
}
.characteristic {
  margin-top: $space-xl;
  &:first-child {
    margin-top: 0;
  }
}
.characteristic-heading {
  font-size: $font-s;
  margin-bottom: $space-m;
  // text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $mono-mid;
}
.characteristic-text {
  font-size: $font-xs;
  margin: 0;
}
.characteristic-detail {
  color: $mono-mid;
}
.characteristic-figure {
}
.characteristic-image-container {
  @include border-radius($radius-s);
  line-height: 0;
  overflow: hidden;
  position: relative;
  &:after {
    @include position-top-right(0,0);
    @include position-bottom-left(0,0);
    @include border-radius($radius-s);
    border: 1px solid $shadow-light;
    content: " ";
    display: block;
  }
}
.characteristic-image {
  line-height: 0;
}