/* Characteristics
----------------------------------------------- */

.characteristics {

}

.characteristic {

}

.characteristic-heading {
  font-size: $font-xl;
  margin-bottom: $space-l;
  text-align: center;
}
.characteristic-text,
.characteristic-detail {
  margin: $space-l 0 0;
}
.characteristic-text {
  min-height: 10rem;
  text-align: left;
}
.characteristic-detail {
  color: $mono-mid;
  font-size: $font-s;
  line-height: $font-l;
}
.characteristic-call {

}
.characteristic-figure {
  margin-bottom: $space-l;
}
.characteristic-image-container {
  @include border-radius($radius-s);
  line-height: 0;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  &:after {
    @include position-top-right(0,0);
    @include position-bottom-left(0,0);
    @include border-radius($radius-s);
    border: 1px solid $shadow-light;
    content: " ";
    display: block;
  }
}
.characteristic-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}