/* Endorsement
----------------------------------------------- */

.endorsements {
}
.endorsement {
  @include clearfix;
}
.endorsement-quote {
  display: block;
  font-style: italic;
  margin-bottom: $space-l;
  min-height: 10rem;
}
.endorsement-author {
  color: $mono-weak;
  display: inline-block;
  font-size: $font-xs;
  font-style: normal;
  font-weight: bold;
  line-height: $lheight-m;
}
.endorsement-author-title {
  display: block;
  font-weight: normal;
}