/* Endorsement
----------------------------------------------- */

.endorsements {
  @include clearfix;
  margin-bottom: $space-xl;
  &:last-child {
    margin-bottom: 0;
  }
}
.endorsement {
  @include grid-span(4, 1, 12, $gutter: 0);
}
.endorsement-quote {
  font-style: italic;
  margin-bottom: $space-l;
  padding: 0 $space-m;
}
.endorsement-author {
  color: $mono-weak;
  display: inline-block;
  font-size: $font-xs;
  font-style: normal;
  font-weight: bold;
  line-height: $lheight-m;
  padding: 0 $space-m;
}
.endorsement-author-title {
  display: block;
  font-weight: normal;
}