/* Feature
----------------------------------------------- */

.features {
  margin-bottom: $space-xl;
}
.feature {
  @include clearfix;
  @include border-radius($radius-s);
  margin-bottom: $space-xl;
  &:last-child {
    margin-bottom: 0;
  }
}
.feature-heading {
  font-size: $font-l;
  margin-top: $space-l;
  margin-bottom: $space-l;
}
.feature-detail {
  margin: $space-l 0 0;
}
.feature-text {
  font-size: $font-m;
  line-height: $lheight-m;
  margin-bottom: 0;
}
.feature-call {
  font-size: $font-s;
  font-weight: normal;
  margin-top: $space-xl;
}
.feature-figure {
  margin-bottom: $space-l;
}
.feature-image-container {
  @include border-radius($radius-s);
  line-height: 0;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  &:after {
    @include position-top-right(0,0);
    @include position-bottom-left(0,0);
    @include border-radius($radius-s);
    border: 1px solid $shadow-light;
    content: " ";
    display: block;
  }
}
.feature-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}

.feature.odd {
  .feature-image-container {
    margin-right: $space-l;
  }
}
.feature.even {
  .feature-image-container {
    margin-left: $space-l;
  }
}