/* Feature
----------------------------------------------- */

.feature {
  @include clearfix;
  margin-bottom: $space-h;
  &:last-child {
    margin-bottom: 0;
  }
}

.feature-heading {
  font-size: $font-xl;
  margin-top: $space-m;
}
.feature-text,
.feature-detail,
.feature-call {
  margin: $space-l 0 0;
}
.feature-text {
  font-size: $font-l;
  line-height: $lheight-m;
}
.feature-detail {
  color: $mono-mid;
  font-size: $font-s;
  line-height: $font-l;
}
.feature-call {

}
.feature-figure {
}
.feature-image-container {
  @include border-radius($radius-s);
  line-height: 0;
  overflow: hidden;
  position: relative;
  &:after {
    @include position-top-right(0,0);
    @include position-bottom-left(0,0);
    @include border-radius($radius-s);
    border: 1px solid $shadow-light;
    content: " ";
    display: block;
  }
}
.feature-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}

.feature.odd {
  .feature-description {
    @include grid-span(4,1,12, $output-style: 'isolation');
  }
  .feature-figure {
    @include grid-span(7,6,12, $output-style: 'isolation');
  }
}

.feature.even {
  .feature-description {
    @include grid-span(4,9,12, $output-style: 'isolation');
  }
  .feature-figure {
    @include grid-span(7,1,12, $output-style: 'isolation');
  }
}