.footer-navigation {
  list-style: none;
  text-align: right;
  margin-top: $space-s;
}
.footer-navigation-item {
  display: inline-block;
  font-size: $font-xs;
  margin-left: $space-l;
  text-transform: uppercase;
}
.footer-navigation-item.active {
  opacity: 0.75;
}
.footer-navigation-item a {
  letter-spacing: 0.1em;
}
.footer-navigation-item a:hover {
}