/* Functionality
----------------------------------------------- */

.functionality {
  @include clearfix;
  @include border-top-radius($radius-s);
}

.functionality-heading {
  font-size: $font-xl;
  margin-top: $space-m;
  margin-bottom: $space-m;
}
.functionality-description {
}
.functionality-detail {
}
.functionality-text {
  line-height: $lheight-m;
  font-size: $font-m;
  margin-bottom: $space-l;
}
.functionality-detail {
  color: $mono-mid;
  color: $flare-strong;
}
.functionality-call {
  margin-top: $space-m;
}
.functionality-figure {
}
.functionality-image-container {
  @include border-top-radius($radius-s);
  background: $bright;
  line-height: 0;
  margin-left: $space-l;
  overflow: hidden;
  position: relative;
  &:after {
    @include position-top-right(0,0);
    @include position-bottom-left(0,0);
    @include border-radius($radius-s);
    border: 1px solid $shadow-light;
    content: " ";
    display: block;
  }
}
.functionality-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}

.functionality-description {
}
.functionality-figure {
}