.slider {
  display: block;
  height: auto;
  @include clearfix;
  list-style: none;
}
.slide {

}

.slider-prev,
.slider-next {
  @include border-radius($radius-absolute);
  background: $flare-weak;
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-top: -20px;
  text-align: center;
  &:hover {
    background: $flare-mid;
  }
}
.slider-prev {
  @include position-top-left(50%,-60px)
}
.slider-next {
  @include position-top-right(50%,-60px)
}

.slider-pager {
  @include position-bottom-right(0,-60px);
  clear: both;
  text-align: center;
  z-index: 1000;
}
.slider-page {
  @include border-radius($radius-absolute);
  background: $bright;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 $space-s;
  opacity: 0.5;
  width: 10px;
  &.active,
  &:hover {
    opacity: 1;
  }
}