/* Tour
----------------------------------------------- */

.tour-items {
  margin-top: $space-xl;
}

.tour-item {
  margin-top: $space-xl;
  &:first-child {
    margin-top: 0;
  }
}

.tour-item-heading {
  font-size: $font-l;
  text-align: center;
  margin-bottom: $space-l;
}
.tour-figure {
  border: 1px solid $alt-color-light;
  overflow: hidden;
  @include border-radius($radius-s);
}
.tour-image {
}
.tour-item-text {
  font-size: $font-m;
  line-height: $lheight-m;
  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}