/* Tour
----------------------------------------------- */

.tour-items {
}

.tour-item {
  margin-top: $space-xl;
  &:first-child {
    margin-top: 0;
  }
}

.tour-item-heading {
  font-size: $font-m;
  margin-bottom: $space-m;
  text-align: center;
}
.tour-figure {
  @include border-radius($radius-s);
  border: 1px solid $alt-color-light;
  margin-bottom: $space-m;
  overflow: hidden;
}
.tour-image {
}
.tour-item-text {
  font-size: $font-s;
  display: inline;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Queries
----------------------------------------------- */

@media #{$small} {
  .tour-item-heading {
    font-size: $font-l;
    margin-bottom: $space-l;
    text-align: center;
  }
  .tour-figure {
    margin-bottom: 0;
  }
  .tour-item-text {
    font-size: $font-m;
    line-height: $lheight-m;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

@media #{$medium} {
}

@media #{$large} {
}