/* Header
----------------------------------------------- */

header {
  padding: $space-xl 0;
}

// Header navigation

.header-navigation {
  list-style: none;
  text-align: center;
}
.header-navigation-item {
  display: inline-block;
  font-size: $font-s;
  margin: 0 0 0 $space-s;
  text-transform: uppercase;
}
.header-navigation-item.active {
  border: inherit;
  opacity: 0.75;
}
.header-navigation-item a {
  letter-spacing: 0.1em;
}
.header-navigation-item a:hover {
  border-bottom-color: $bright;
}

/* Queries
----------------------------------------------- */

@media #{$small} {
  .header-navigation {
    margin-top: $space-s;
    text-align: right;
  }
  .header-navigation-item {
    margin-left: $space-l;
    padding: $space-xs 0;
  }
}

@media #{$medium} {
}

@media #{$large} {
}