---
title: Tour
---

<section class="features section">
  <div class="container">
    <div class="row">
      <div class="large-10 large-offset-1 small-12">
        <hgroup class="section-head">
          <h1 class="section-head-heading">Say Hello to Hyperaudio.</h1>
          <h2 class="section-head-text">The Hyperaudio ecosystem is made up of  independent parts that flow together, made to ease the process of creating media from scratch.</h2>
        </hgroup>
      </div>
    </div>
    <div class="tour-items">
      <div class="tour-item row">
        <div class="large-4 small-12 columns">
          <h2 class="tour-item-heading">The Dashboard</h2>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-item-text">This is where you can access the various tools that make up the Hyperaud.io experience.</p>
          <p class="tour-item-text">If you are not experienced, you soon will be. All you need to start creating amazing things with Hyperaudio is here at your fingertips, making it all very easy to get started.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns push-8">
          <h2 class="tour-item-heading">The Library</h2>
        </div>
        <div class="large-8 small-12 columns pull-4">
          <p class="tour-item-text">We’re teaming up with organisations such as The Internet Archive and Al Jazeera to bring you a library packed with already transcribed media.</p>
          <p class="tour-item-text">You can use our integrated search to find soundtracks on YouTube, Vimeo, Soundcloud so you can easily add that to your mix.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns">
          <h2 class="tour-item-heading">The Hyperaudio Pad</h2>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-item-text">Putting your audio or video piece together has never been easier. Using a transcript to assemble a piece of media is pretty revolutionary and actually a lot of fun.</p>
          <p class="tour-item-text">Because you already know how to create things from text, it’s actually very easy to get up and running. The interface is minimal but don’t be fooled, there’s a lot going on behind the scenes. Check out other people’s mixes to see what can be done, remix them if you like - and easily publish and share them with a unique web address.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns push-8">
          <h2 class="tour-item-heading">The Transcript Maker</h2>
        </div>
        <div class="large-8 small-12 columns pull-4">
          <p class="tour-item-text">We provide a library full of already transcribed material, but you may want to transcribe your own material and this is where the Transcript Maker comes in handy.</p>
          <p class="tour-item-text">The Maker provides a couple options for people to create Hyperaudio compatible transcripts: <strong>If you already have the transcript</strong>, submit it with the media for time alignment. <strong>If you don’t have the transcript</strong>, you can create one with our handy tool then jump to step 1 above.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns">
          <h2 class="tour-item-heading">Mobile Hyperaudio Pad</h2>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-item-text">We also provide a mobile version of the Hyperaudio Pad, it allows you to start assembling your media no matter where you are, the beauty of a text based interface is that it is very usable on the move.</p>
          <p class="tour-item-text">You can start off a mix on your commute and finish it later on a computer of your choice, in the comfort of your own home or office.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns push-8">
          <h2 class="tour-item-heading">The Transcript Cleaner</h2>
        </div>
        <div class="large-8 small-12 columns pull-4">
          <p class="tour-item-text">Audio can vary, from background noise to accents - it all affects the quality of the final output, you may find you need to tweak the timings a little and for this we provide The Transcript Cleaner.</p>
          <p class="tour-item-text">The Cleaner is simple to use allow you to quickly identify any errors and correct them, surprisingly this is actually very satisfying.</p>
        </div>
      </div>
      <div class="tour-item row">
        <div class="large-4 small-12 columns">
          <h2 class="tour-item-heading">Our API</h2>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-item-text">Developers can go further than embedding by using our API. We will provide a comprehensive API that covers everything from time alignment to transcript search.</p>
          <p class="tour-item-text">We also provide a JavaScript library called Hyperaudio.js and various ways of embedding Hyperaudio apps. We’re really excited to see what people make with Hyperaudio.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section call">
  <div class="container">
    <div class="call">
      <h1 class="call-heading"><%= link_to 'Sign up', '/signup/' %> and give Hyperaudio a whirl.</h1>
    </div>
  </div>
</section>

<hr class="separator" />