/* Brandmark
----------------------------------------------- */

.brandmark {
  border: none !important;
  display: block;
  font-size: 0;
  height: 40px;
  text-align: center;
}
.brandmark-symbol {
  @include border-radius($radius-s);
  @include box-shadow(0 1px 1px $shadow-light);
  background: $bright;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 0 $space-xs;
  img {
    height: 30px;
  }
}
.brandmark-label {
  display: inline;
  font-family: $secondary-font;
  font-size: $font-m;
  font-weight: bold;
  line-height: 40px;
  margin-left: $space-m;
}

@media #{$small} {
  .brandmark {
    text-align: left;
  }
}

@media #{$medium} {
}

@media #{$large} {
}