/* Brandmark
----------------------------------------------- */

.brandmark,
.brandmark:hover,
.brandmark:active {
  border: none !important;
  display: block;
  font-size: 0;
  height: 40px;
}
.brandmark-symbol {
  @include border-radius($radius-s);
  @include box-shadow(0 1px 1px $shadow-light);
  background: $bright;
  float: left;
  padding: $space-s $space-xs;
  text-align: center;
  height: 40px;
  width: 40px;
  img {
    height: 30px;
    vertical-align: baseline;
  }
}
.brandmark-label {
  display: inline;
  font-family: $secondary-font;
  font-size: $font-m;
  font-weight: bold;
  line-height: 40px;
  margin-left: $space-m;
}

@media #{$small} {
  .brandmark {
    text-align: left;
  }
}

@media #{$medium} {
}

@media #{$large} {
}