/* Massive Call to Action
----------------------------------------------- */

.call {
  text-align: center;
}
.call-heading {
  @extend .heading-l;
}
.call-text {
  font-weight: normal;
  margin-top: $space-s;
}

/* Queries
----------------------------------------------- */

@media #{$small-only} {
  .call-heading {
    font-size: ($font-m + 5px);
    padding: 0;
  }
}

@media #{$medium-up} {
}

@media #{$large-up} {
}