/* Massive Call to Action
----------------------------------------------- */

.call {
  text-align: center;
}
.call-heading {
  @extend .heading-l;
}
.call-text {
  font-weight: normal;
  margin-top: $space-m;
}

/* Queries
----------------------------------------------- */

@media #{$small} {
  .call-heading {
    font-size: $font-xl;
    padding: 0;
  }
}

@media #{$medium} {
}

@media #{$large} {
}