/* Endorsement
----------------------------------------------- */

.endorsements {
}
.endorsement-quote {
  display: block;
  font-style: italic;
  margin-bottom: $space-s;
}
.endorsement-author {
  color: $mono-weak;
  display: inline-block;
  font-size: $font-xs;
  font-style: normal;
  font-weight: bold;
  line-height: $lheight-m;
}
.endorsement-author-title {
  display: block;
  font-weight: normal;
}

/* Queries
----------------------------------------------- */

@media #{$small-only} {
  .endorsement {
    margin-bottom: $space-m;
    &:last-child {
      margin: 0;
    }
  }
}

@media #{$medium-up} {
  .endorsement-quote {
    min-height: 154px;
  }
}

@media #{$large-up} {
}