/* Endorsement
----------------------------------------------- */

.endorsements {
}
.endorsement {
  @include clearfix;
  margin-top: $space-l;
  &:first-child {
    margin-top: 0;
  }
}
.endorsement-quote {
  display: block;
  font-style: italic;
  margin-bottom: $space-s;
}
.endorsement-author {
  color: $mono-weak;
  display: inline-block;
  font-size: $font-xs;
  font-style: normal;
  font-weight: bold;
  line-height: $lheight-m;
}
.endorsement-author-title {
  display: block;
  font-weight: normal;
}

/* Queries
----------------------------------------------- */

@media #{$small-up} {
  .endorsement {
    margin-top: 0;
  }
  .endorsement-quote {
    display: block;
    font-style: italic;
    margin-bottom: $space-m;
    min-height: 100px;
  }
}

@media #{$medium-up} {
}

@media #{$large-up} {
}