/* Feature
----------------------------------------------- */

.features {
  margin-bottom: $space-xl;
}
.feature {
  @include clearfix;
  @include border-radius($radius-s);
  margin-bottom: $space-xl;
  &:last-child {
    margin-bottom: 0;
  }
}
.feature-heading {
  font-size: $font-m;
  margin-bottom: $space-s;
}
.feature-detail {
  margin: $space-l 0 0;
}
.feature-text {
  display: inline;
  font-size: $font-s;
  line-height: $lheight-m;
}
.feature-call {
  font-size: $font-s;
  margin-top: $space-m;
}
.feature-image-container {
  @include border-radius($radius-s);
  border: 1px solid $alt-color-light;
  line-height: 0;
  margin-bottom: $space-m;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
.feature-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}

/* Queries
----------------------------------------------- */

@media #{$small} {
  .feature-figure {
    margin-bottom: $space-l;
  }
  .feature-heading {
    font-size: $font-l;
    margin-top: $space-l;
    margin-bottom: $space-l;
  }
  .feature-text {
    display: block;
    font-size: $font-m;
    line-height: $lheight-m;
    margin-bottom: 0;
  }
  .feature-call {
    display: inline-block;
    font-size: $font-s;
    font-weight: normal;
    margin-top: $space-l;
  }
  .feature.odd {
    .feature-image-container {
      margin-right: $space-l;
    }
  }
  .feature.even {
    .feature-image-container {
      margin-left: $space-l;
    }
  }

}

@media #{$medium} {
}

@media #{$large} {
}