/* Functionality
----------------------------------------------- */

.functionality {
  @include clearfix;
  @include border-top-radius($radius-s);
}

.functionality-heading {
  display: none;
  font-size: $font-m;
  margin-top: $space-s;
  margin-bottom: $space-s;
}
.functionality-text {
  display: inline;
  font-size: $font-s;
}
.functionality-detail {
  color: $mono-mid;
  color: $flare-strong;
}
.functionality-call {
  margin-top: $space-s;
}
.functionality-figure {
  @include border-top-radius($radius-s);
  background: $bright;
  line-height: 0;
  margin-bottom: $space-s;
  overflow: hidden;
  position: relative;
}
.functionality-image {
  @include box-sizing(border-box);
  line-height: 0;
  width: 100%;
}

/* Queries
----------------------------------------------- */

@media #{$small-up} {
  .functionality-heading {
    display: block;
    font-size: $font-xl;
    line-height: $lheight-xs;
    margin-top: $space-s;
  }
  .functionality-text {
    display: block;
    font-size: $font-m;
  }
  .functionality-figure {
    @include border-top-radius($radius-s);
    background: $bright;
    line-height: 0;
    margin-bottom: 0;
    margin-left: $space-m;
  }
}

@media #{$medium-up} {
}

@media #{$large-up} {
}