/* Listings
----------------------------------------------- */

.listing {

}
.listing-item {
  @include clearfix;
  list-style: none;
  padding-top: $space-h;
  padding-bottom: $space-m;
  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}
.listing-title {
  font-size: $font-m;
  line-height: $font-l;
  text-align: left;
  display: inline;
}
.listing-meta {
  display: block;
  color: $mono-weak;
  float: left;
  margin-top: $space-s;
  margin-bottom: 0;
  min-width: 150px;
  padding-top: $space-xs;
  text-align: left;
}

/* Queries
----------------------------------------------- */

@media #{$small-up} {
  .listing-title {
    font-size: $font-l;
    text-align: center;
    display: inline-block;
  }
}

@media #{$medium-up} {
}

@media #{$large-up} {
}

