/* Slider
----------------------------------------------- */

.slider {
  @include clearfix;
  display: block;
  height: auto;
  list-style: none;
}
.slider-pager {
  @include position-top-right(50%,-20px);
  display: block;
  margin-top: $space-l;
  margin-top: -30px;
  text-align: center;
  width: 14px;
  @media #{$small-only} {
    position: static;
    top: auto;
    right: auto;
    margin-top: 0;
    width: auto;
  }
}
.slider-pages {
  text-align: center;
}
.slider-page {
  @include border-radius($radius-absolute);
  @include box-shadow(0 1px 1px $shadow-weak);
  background: $bright;
  clear: both;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 3px 0;
  width: 10px;
  @media #{$small-only} {
    clear: none;
    display: inline-block;
    margin: $space-m $space-x;
  }
}
.slider-page.active {
  @include border-radius($radius-absolute);
  background: transparent;
  border: 1px solid $bright;
  height: 12px;
  margin: 2px 0;
  width: 12px;
  @media #{$small-only} {
    clear: none;
    display: inline-block;
    margin: $space-m $space-x;
  }
}