/* Supporter
----------------------------------------------- */

.supporters {
  margin-top: $space-l;
  text-align: center;
}
.supporter {
  border: none !important;
  color: $mono-mid;
  font-size: 45px;
  margin: 0 $space-x;
  &:hover {
    color: $mono-heavy;
  }
}

/* Queries
----------------------------------------------- */

@media #{$small-up} {
  .supporter {
    border: none !important;
    color: $mono-mid;
    font-size: 100px;
    margin: 0 $space-m;
    padding: $space-x;
    &:hover {
      color: $mono-heavy;
    }
  }
}

@media #{$medium-up} {
}

@media #{$large-up} {
}