---
title: Sign Up
---

<section class="section">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">
        Sign up
      </h1>
    </hgroup>
    <div class="row">
      <div class="large-8 small-12 columns large-offset-2">
        <form id="registerForm" class="form">
          <div class="form-component">
            <label for="username" class="form-label centered">Username</label> <input id="username" type="text" name="username" class="form-input text-input block large centered" placeholder="username">
          </div>
          <div class="form-component">
            <label for="password" class="form-label centered">Password</label> <input id="password" type="password" name="password" class="form-input text-input block large centered">
            <p id="error" style="display:none" class="form-alert">
              Error
            </p>
          </div>
          <div class="form-component actions">
            <input type="submit" class="button large primary" value="Sign up" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />

<script>
  $('#registerForm').on('submit', function(evt) {
    evt.preventDefault();
    $('#error').hide();

    $.ajax( 'http://data.hyperaud.io/register', {
    type: "POST",
    data: {
      username: $('#username').val(),
      password: $('#password').val()
    },
    success: function() {
      //alert(1);
      document.location  = "/secretlogin/";
    },
    error: function() {
      //alert(0);
      $('#error').show();
    },
    xhrFields: {
      withCredentials: true
    },
    crossDomain: true});
  });
</script>