@import url(http://fonts.googleapis.com/css?family=Exo:500,700,500italic|Merriweather+Sans:400,700,400italic,700italic);
/* Import Gem-based Base Frameworks
------------------------------------------- */
/* Import Bower-driven Vendor Modules
------------------------------------------- */
/* Import Other External Assets
------------------------------------------- */
/* Import Hyperaudio Library Mixins
------------------------------------------- */
/* Hide Text Mixin
----------------------------------------------- */
/* Positionining Mixin
----------------------------------------------- */
/* Import Site Config
------------------------------------------- */
/* Colour Palette
----------------------------------------------- */
/* Typography
----------------------------------------------- */
html {
  font-size: 62.5%;
}

/* Spaces
----------------------------------------------- */
/* Border Radii
----------------------------------------------- */
/* Default definitions
----------------------------------------------- */
/* Styleguide Styles
------------------------------------------- */
.sg-container {
  padding: 0 1rem;
}

.sg-nav {
  color: rgba(0, 0, 0, 0.2);
  list-style: decimal;
  margin-bottom: 4rem;
}

.sg-nav-separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.sg-nav-link {
  display: block;
  margin-left: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
}
.sg-nav-link.active {
  color: rgba(0, 0, 0, 0.66);
}

.sg-mod {
  position: relative;
  margin-bottom: 4rem;
}

.sg-mod-heading {
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.6em;
}
.sg-mod-heading .sg-mod-class {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: white;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.3rem;
  font-family: monospace;
  line-height: 1.2em;
}

.sg-mod-intro p, .sg-mod-intro ul, .sg-mod-intro ol, .sg-mod-intro pre {
  margin-bottom: 2rem;
  padding: 0;
}
.sg-mod-intro p, .sg-mod-intro li {
  font-size: 1.3rem;
  line-height: 1.6em;
}
.sg-mod-intro pre {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: white;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.5rem;
  font-family: monospace;
  line-height: 1.6em;
}
.sg-mod-intro li {
  margin-left: 1.8rem;
}
.sg-mod-intro iframe {
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.sg-mod-intro iframe::-webkit-scrollbar {
  -webkit-appearance: none;
}
.sg-mod-intro iframe::-webkit-scrollbar:vertical {
  width: 11px;
}
.sg-mod-intro iframe::-webkit-scrollbar-thumb {
  border: 2px solid white;
  /* should match background, can't be transparent */
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sg-mod-intro figure {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: white;
  font-family: monospace;
  line-height: 1.2em;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}
.sg-mod-intro figure.inverted {
  background: rgba(0, 0, 0, 0.5);
}
.sg-mod-intro figure img {
  display: inline-block;
}
.sg-mod-intro code {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: white;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.3rem;
  font-family: monospace;
  line-height: 1.2em;
}

.sg-mod-canvas {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: url('../../images/backgrounds/sg-grid.png?1386255749') repeat;
  position: relative;
}

.sg-mod-canvas-note {
  position: absolute;
  top: -1rem;
  left: 2rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.55);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.4em;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}
