/* Buttons
----------------------------------------------- */

a.button,
button.button,
input[type="submit"].button,
.button {
  @include border-radius($radius-s);
  color: $alt-color;
  border: 1px solid $alt-color-light;
  display: inline-block;
  font-weight: bold;
  padding: $space-xs $space-m;
  &:hover {
    background: #2C3E50;
    color: $bright !important;
  }
  &:active {
    opacity: 0.7;
  }
}

.button.primary {
}

.button.block {
  display: block;
  text-align: center;
}

.button.large {
  padding: $space-m $space-l;
  text-align: center;
}