FORMAT: 1A
HOST: http://api.hyperaud.io

# Hyperaudio v1


## User details [/v1/whoami]

### [GET]
Check for existing user session 

Note: both responses are actually 200. (404 TBD)

+ Response 404 (application/json)

        {
            "user": null
        }

+ Response 200 (application/json)

        {
            "user": "masterblaster"
        }

## Sign in [/v1/login]
### [POST]
Successful response identical with `/v1/whoami`

+ Request (application/json)
    
        {
            password: "thunderdome",
            username: "masterblaster"
        }

+ Response 200

        {
            "user": "masterblaster"
        }

+ Response 401
    
            EMPTY


## Sign out [/v1/logout]
### [POST]
Successful response identical with `/v1/whoami` (null user)

+ Response 200

        {
            "user": null
        }


## Register [/v1/register]
In this version check `/whoami` afterwards to see if registered (and logged in) as it fails silently if the account already exists.
### [POST]

+ Request (application/json)
    
        {
            username: "masterblaster",
            password: "thunderdome",
            email: "master@blaster.foo"
        }

+ Response 200
            
        {
            "user": null
        }

+ Response 401

        EMPTY

## Error reporting [/v1/error/{component}]
Used in reporting client-sider errors from the dashboard, to be extended to the other tools.

### [POST]
+ Parameters
    + component ... component name

+ Request 

        {
            errorReport: {}
        }

+ Response 200

        {}

## Status check [/v1/status]
Used by monitoring tools, returns the `lag` reported by https://npmjs.org/package/toobusy
### [GET]

+ Response 200

        {
            lag: 3
        }


## Transcripts Collecton [/v1/{user}/transcripts?type={type}]
+ Parameters
    + user (optional) ... username
    + type (optional) ... filter by type (html, text, srt)
    
### List all Transcripts [GET]
Shows all transcripts, ignoring the bulky `meta` and `content` fields.

+ Response 200 (application/json)
        
        [
            {
                "_id": "QvtfKjw5QCaupKhSPg83-Q",
                "label": "Anonymous - Message to the UK government",
                "media": "LLQkcoO-TDuoe92oiO3rJw",
                "owner": "gridinoc",
                "type": "html",
                "modified": "2014-01-21T10:59:31.840Z",
                "created": "2014-01-21T10:56:59.200Z"
            },
            {
                "_id": "l_uz5I8HQTST-3FJnX62JA",
                "label": "Subtitles for Washing Wearable Electronics",
                "desc": "",
                "type": "srt",
                "owner": "gridinoc",
                "media": "MBYhBcpIRHyMJTFnonyddQ",
                "modified": "2014-01-24T09:29:28.902Z",
                "created": "2014-01-24T09:29:28.897Z"
            }
        ]

### Create Transcript [POST]
The `_id` is used as a MongoDB ObjectId, it is generated from an UUID v4 encoded with URL-safe Base64. It should not be supplied for creation.

+ Request (application/json)

        {
            "label": "new transcript",
            "media": "LLQkcoO-TDuoe92oiO3rJw",
            "owner": "gridinoc",
            "type": "text"
        }
        
+ Response 200 (application/json)

        {
            "_id": "AAAfKjw5QCCCpKhSPg83-Q",
           "label": "new transcript",
            "media": "LLQkcoO-TDuoe92oiO3rJw",
            "owner": "gridinoc",
            "type": "text",
            "modified": "2014-01-21T10:59:31.840Z",
            "created": "2014-01-21T10:56:59.200Z"
        }
        
## Transcript [/v1/{user}/transcript/{id}]
A single Transcript object with all the details.

+ Parameters
    + id (required) ... transcript id 
    + user (optional) ... when provided it filters the collection
    
### Retrieve Transcript [GET]
The `media` field is expanded with the content of the corresponding Media object.

+ Response 200 (application/json)
        
        {
          "_id": "QvtfKjw5QCaupKhSPg83-Q",
          "content": "<article>...</article>",
          "label": "Anonymous - Message to the UK government",
          "media": {
            "_id": "LLQkcoO-TDuoe92oiO3rJw",
            "desc": "Greetings citizens of the world...Expect us.",
            "label": "Anonymous - Message to the UK government",
            "meta": "YsRrIqeySaiUtSotSJ0exA",
            "owner": "gridinoc",
            "source": {
              "youtube": {
                "type": "video/youtube",
                "url": "http://www.youtube.com/watch?v=4TmliW_F2Kw",
                "thumbnail": "http://i1.ytimg.com/vi/4TmliW_F2Kw/default.jpg"
              }
            },
            "type": "video",
            "tags": [
              "bar",
              "baz"
            ],
            "modified": "2014-01-22T14:26:56.948Z",
            "created": "2014-01-21T00:23:35.968Z"
          },
          "meta": {},
          "owner": "gridinoc",
          "type": "html",
          "modified": "2014-01-21T10:59:31.840Z",
          "created": "2014-01-21T10:56:59.200Z"
        }

+ Response 404

        {
            "error": "Not Found"
        }

### Update Transcript [PUT]
The `media` field always contains the ObjectId of a media object. 

+ Request (application/json)

        {
            "_id": "AAAfKjw5QCCCpKhSPg83-Q",
           "label": "modified transcript",
            "media": "LLQkcoO-TDuoe92oiO3rJw",
            "owner": "gridinoc",
            "type": "text",
            "content": "...",
            "modified": "2014-01-21T10:59:31.840Z",
            "created": "2014-01-21T10:56:59.200Z"
        }

+ Response 200 (application/json)

        {
            "_id": "AAAfKjw5QCCCpKhSPg83-Q",
           "label": "modified transcript",
            "media": "LLQkcoO-TDuoe92oiO3rJw",
            "owner": "gridinoc",
            "type": "text",
            "content": "...",
            "modified": "2014-01-21T10:59:31.840Z",
            "created": "2014-01-21T10:56:59.200Z"
        }
        
### Delete Transcript [DELETE]

+ Response 204

## Transcript Content [/v1/{user}/transcript/{id}/{format}]
A single Transcript content

+ Parameters
    + id (required) ... transcript id 
    + user (optional) ... when provided it filters the collection
    + format (required) ... `text` or `html`
    
### [GET]

+ Response 200 (text/plain)

        Greetings citizens of the world, we are anonymous.\n\nGovernment of the United Kingdom, It has come to our attention...
        

## Transcript Alignment [/v1/{user}/transcript/{id}/align]
Submit `text` transcript to alignment, it will change its type to `html` once the alignment is successful.

### [POST]

+ Response 200 (application/json)

        {
            "_id": "AAAfKjw5QCCCpKhSPg83-Q",
           "label": "modified transcript",
            "media": "LLQkcoO-TDuoe92oiO3rJw",
            "owner": "gridinoc",
            "type": "text",
            "content": "...",
            "modified": "2014-01-21T10:59:31.840Z",
            "created": "2014-01-21T10:56:59.200Z"
        }


## Mixes Collection [/v1/{user}/mixes]
+ Parameters
    + user (optional) ... user filter
    
### List all mixes [GET]

+ Response 200 (application/json)
        
        [
            {
                "_id": "sPT0dvAwSK6hp5aS7acyAg",
                "content": "<article>...</article>",
                "desc": "Description not set",
                "label": "No More Lies",
                "owner": "maboamaboa",
                "type": "beta",
                "tags": [],
                "modified": "2014-01-27T14:09:51.824Z",
                "created": "2014-01-23T20:49:39.463Z"
            },
            {}
        ]

### Create Mix [POST]

+ Request

        {
            "content": "<article>...</article>",
            "desc": "Description not set",
            "label": "No More Lies",
            "owner": "maboamaboa",
            "type": "beta",
            "tags": []
        }
        
+ Response 200
        
        {
            "_id": "sPT0dvAwSK6hp5aS7acyAg",
            "content": "<article>...</article>",
            "desc": "Description not set",
            "label": "No More Lies",
            "owner": "maboamaboa",
            "type": "beta",
            "tags": [],
            "modified": "2014-01-27T14:09:51.824Z",
            "created": "2014-01-23T20:49:39.463Z"
        }

## Mix [/v1/{user}/mixes/{id}]

### [GET]

+ Response 200

        {
            "_id": "sPT0dvAwSK6hp5aS7acyAg",
            "content": "<article>...</article>",
            "desc": "Description not set",
            "label": "No More Lies",
            "owner": "maboamaboa",
            "type": "beta",
            "tags": [],
            "modified": "2014-01-27T14:09:51.824Z",
            "created": "2014-01-23T20:49:39.463Z"
        }

### [PUT]
Update a mix

+ Request
    
        {
            "_id": "sPT0dvAwSK6hp5aS7acyAg",
            "content": "<article>...</article>",
            "desc": "NEW Description",
            "label": "No More Lies",
            "owner": "maboamaboa",
            "type": "beta",
            "tags": [],
            "modified": "2014-01-27T14:09:51.824Z",
            "created": "2014-01-23T20:49:39.463Z"
        }

+ Response 200

        {
            "_id": "sPT0dvAwSK6hp5aS7acyAg",
            "content": "<article>...</article>",
            "desc": "New Description",
            "label": "No More Lies",
            "owner": "maboamaboa",
            "type": "beta",
            "tags": [],
            "modified": "2014-01-27T14:09:51.824Z",
            "created": "2014-01-23T20:49:39.463Z"
        }

### [DELETE]

+ Response 204

## Mixes tags [/v1/{user}/mixes/tags]
### [GET]

+ Response 200

        [
            "Funny",
            "Test"
        ]
        
## Mixes tagged with a specific tag [/v1/{user}/mixes/tags/{tag}]
Use `tag = notag` to retrieve mixes with no tags set.

### [GET]

+ Response 200

        [
            {
                "_id": "Vz6rumWaTrOLWWJ1rcpabg",
                "channel": "Funny",
                "content": "<article>...</article>",
                "desc": "Description not set",
                "label": "FP- TEST1- Mitt Romeny Cutting Crack in Denver",
                "owner": "fpruitt",
                "type": "beta",
                "tags": [
                  "Funny"
                ],
                "modified": "2014-01-23T18:18:06.551Z",
                "created": "2014-01-23T16:59:51.038Z"
            },
            {}
        ]

## Mixes channels [/v1/{user}/mixes/channels]
### [GET]

+ Response 200

        [
            "Funny",
            "Test"
        ]
        
## Mixes from a channel [/v1/{user}/mixes/channels/{channel}]
Use `channel = nochannel` to retrieve mixes with no channel set (missing field, or channel `null`).

### [GET]

+ Response 200

        [
            {
                "_id": "Vz6rumWaTrOLWWJ1rcpabg",
                "channel": "Funny",
                "content": "<article>...</article>",
                "desc": "Description not set",
                "label": "FP- TEST1- Mitt Romeny Cutting Crack in Denver",
                "owner": "fpruitt",
                "type": "beta",
                "tags": [
                  "Funny"
                ],
                "modified": "2014-01-23T18:18:06.551Z",
                "created": "2014-01-23T16:59:51.038Z"
            },
            {}
        ]

## Media Collection [/v1/{user}/media]

### [GET]
Get list of media objects.

+ Response 200

        [
            {
                "_id": "dHAyAHpaSlSaYXKTKul6pA",
                "channel": "US Politics",
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "meta": "eYUdvDfBQMW6G7k7Kq82bw",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": [
                  "politics"
                ],
                "modified": "2014-01-23T10:28:03.773Z",
                "created": "2014-01-22T16:37:10.821Z"
          },
          {}
        ]


### [POST]
Creates media object (`_id` and `meta` will be assigned upon creation)

+ Request

        {
                "channel": null,
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": []
         }

+ Response 200

        {
                "_id": "dHAyAHpaSlSaYXKTKul6pA",
                "channel": null,
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "meta": "eYUdvDfBQMW6G7k7Kq82bw",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": [],
                "modified": "2014-01-23T10:28:03.773Z",
                "created": "2014-01-22T16:37:10.821Z"
        }
          
## Media Object [/v1/{user}/media/{id}]

### [GET]
+ Response 200

        {
                "_id": "dHAyAHpaSlSaYXKTKul6pA",
                "channel": null,
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "meta": "eYUdvDfBQMW6G7k7Kq82bw",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": [],
                "modified": "2014-01-23T10:28:03.773Z",
                "created": "2014-01-22T16:37:10.821Z"
        }
        
### [PUT]
Update media object

+ Request

        {
                "_id": "dHAyAHpaSlSaYXKTKul6pA",
                "channel": "US Politics",
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "meta": "eYUdvDfBQMW6G7k7Kq82bw",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": [],
                "modified": "2014-01-23T10:28:03.773Z",
                "created": "2014-01-22T16:37:10.821Z"
        }
        
+ Response 200

        {
                "_id": "dHAyAHpaSlSaYXKTKul6pA",
                "channel": "US Politics",
                "desc": "",
                "label": "1st US Presidential Debate - 2012 - Obama Romney (Denver)",
                "meta": "eYUdvDfBQMW6G7k7Kq82bw",
                "owner": "maboamaboa",
                "source": {
                  "youtube": {
                    "type": "video/youtube",
                    "url": "http://www.youtube.com/watch?v=-ImRaxGNAkM",
                    "thumbnail": "http://i1.ytimg.com/vi/-ImRaxGNAkM/default.jpg"
                  }
                },
                "type": "video",
                "tags": [],
                "modified": "2014-01-23T10:28:03.773Z",
                "created": "2014-01-22T16:37:10.821Z"
        }
        

### [DELETE]
+ Response 204


