/* =============================================================================
   Brand Colors
   ========================================================================== */
/* =============================================================================
   Body
   ========================================================================== */
::selection {
  background: #f6f3f2;
}

/* Safari */
::-moz-selection {
  background: #f6f3f2;
}

/* Firefox */
/* =============================================================================
   Brand Colors
   ========================================================================== */
/* =============================================================================
   Body
   ========================================================================== */
::selection {
  background: #f6f3f2;
}

/* Safari */
::-moz-selection {
  background: #f6f3f2;
}

/* Firefox */
/* =============================================================================
   Headings
   ========================================================================== */
.heading-xl, h1, .section-head-heading {
  color: #d74b36;
}

.heading-l, h2, .call-heading, .section-head-text {
  color: rgba(0, 0, 0, 0.8);
}

/* =============================================================================
   Section Head
   ========================================================================== */
/* =============================================================================
   Characteristics
   ========================================================================== */
.characteristic-heading {
  color: rgba(0, 0, 0, 0.8);
}

/* =============================================================================
   Links
   ========================================================================== */
.link, a,
.link:hover,
a:hover,
.link:active,
a:active {
  color: #d74b36;
}

.link, a {
  border-bottom: 1px solid transparent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.link:focus, a:focus, .link:hover, a:hover, .link.active, a.active, .link:active, a:active {
  border-bottom: 1px solid #d74b36;
}
.link:active, a:active {
  opacity: 0.7;
}

/* =============================================================================
   Header
   ========================================================================== */
header .brandmark-label:after {
  content: " Studs Terkel";
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .header-brandmark {
    text-align: left;
    margin-left: 20px;
  }
}
.header-navigation-item-blog {
  display: none;
}

/* =============================================================================
   Buttons
   ========================================================================== */
a.button,
button.button,
.button,
input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #d74b36;
}
a.button:hover,
button.button:hover,
.button:hover,
input[type="submit"]:hover {
  background: #d74b36;
}
a.button:active,
button.button:active,
.button:active,
input[type="submit"]:active {
  opacity: 0.7;
}

.button.primary {
  background: #d74b36;
  border-color: rgba(0, 0, 0, 0.25);
}

/* =============================================================================
   Playground
   ========================================================================== */
.branded {
  background-color: #d74b36;
}
.branded a {
  color: #fff;
}
.branded .button {
  border-color: #C24431;
  text-shadow: none;
}
.branded .button:active, .branded .button.active {
  color: #d74b36;
}
.branded .button.active:hover, .branded .button:hover {
  color: #d74b36 !important;
}
.branded .button.primary {
  color: #d74b36;
}

/* =============================================================================
   Slider
   ========================================================================== */
.slider-page {
  background: transparent;
  border: 1px solid #fff;
}

.slider-page.active {
  background: #fff;
  height: 12px;
  margin: 2px 0;
  width: 12px;
}

/* =============================================================================
   Headings
   ========================================================================== */
.heading-xl, h1, .section-head-heading {
  color: #d74b36;
}

.heading-l, h2, .call-heading, .section-head-text {
  color: rgba(0, 0, 0, 0.8);
}

/* =============================================================================
   Section Head
   ========================================================================== */
/* =============================================================================
   Characteristics
   ========================================================================== */
.characteristic-heading {
  color: rgba(0, 0, 0, 0.8);
}

/* =============================================================================
   Links
   ========================================================================== */
.link, a,
.link:hover,
a:hover,
.link:active,
a:active {
  color: #d74b36;
}

.link, a {
  border-bottom: 1px solid transparent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.link:focus, a:focus, .link:hover, a:hover, .link.active, a.active, .link:active, a:active {
  border-bottom: 1px solid #d74b36;
}
.link:active, a:active {
  opacity: 0.7;
}

/* =============================================================================
   Header
   ========================================================================== */
header .brandmark-label:after {
  content: " Studs Terkel";
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .header-brandmark {
    text-align: left;
    margin-left: 20px;
  }
}
.header-navigation-item-blog {
  display: none;
}

/* =============================================================================
   Buttons
   ========================================================================== */
a.button,
button.button,
.button,
input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #d74b36;
}
a.button:hover,
button.button:hover,
.button:hover,
input[type="submit"]:hover {
  background: #d74b36;
}
a.button:active,
button.button:active,
.button:active,
input[type="submit"]:active {
  opacity: 0.7;
}

.button.primary {
  background: #d74b36;
  border-color: rgba(0, 0, 0, 0.25);
}

/* =============================================================================
   Playground
   ========================================================================== */
.branded {
  background-color: #d74b36;
}
.branded a {
  color: #fff;
}
.branded .button {
  border-color: #C24431;
  text-shadow: none;
}
.branded .button:active, .branded .button.active {
  color: #d74b36;
}
.branded .button.active:hover, .branded .button:hover {
  color: #d74b36 !important;
}
.branded .button.primary {
  color: #d74b36;
}

/* =============================================================================
   Slider
   ========================================================================== */
.slider-page {
  background: transparent;
  border: 1px solid #fff;
}

.slider-page.active {
  background: #fff;
  height: 12px;
  margin: 2px 0;
  width: 12px;
}
