{
  "id": "mozfest",
  "logo": "/assets/logos/mozfest.svg",
  "meta": {
    "name": "Mozilla Festival",
    "url": "https://www.mozillafestival.org",
    "text": "Welcome to the Mozilla Festival on Hyperaudio! Here you can find a selection of sessions from MozFest 2021 – transcribed and translated for accessible viewing."
  },
  "palette": {
    "primary": "#0d10bf",
    "secondary": "#7f28b7"
  }
}
