/* Body
----------------------------------------------- */

body {
  background: $dflt-background;
  color: $dflt-color;
  font-family: $dflt-font;
  font-size: $dflt-font-size;
  line-height: $dflt-line-height;
}

// Text Selection
::selection { background: $brand-color-light; }      /* Safari */
::-moz-selection { background: $brand-color-light; } /* Firefox */

blockquote {
  padding: 0;
  margin: 0;
}

abbr[title] {
  border: none;
}