/* Body
----------------------------------------------- */

body {
  background: $dflt-background;
  color: $dflt-color;
  font-family: $dflt-font;
  font-size: $dflt-font-size;
  line-height: $dflt-line-height;
}