/* Headings
----------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  color: $alt-color;
  font-family: $secondary-font;
  line-height: $lheight-s;
  margin: 0;
}
.heading-xl,
.heading-xl,
.heading-xl {
  font-family: $secondary-font;
  font-weight: normal;
}

.heading-xl {
  font-size: $font-xl;
  font-weight: bold;
  line-height: $lheight-m;
  margin-bottom: $space-h;
  text-align: center;
  text-transform: capitalize;
}
.heading-l {

}
.heading-m {

}
.heading-s {

}
.heading-xs {

}
