/* Singularity + Breakpoint Grid System Definitions
----------------------------------------------- */

/* Colour Palette
----------------------------------------------- */

// Shades of Grey
$dark              : #000;
$bright            : #fff;

$heavy             : rgba(0,0,0,0.88);
$mono-heavy        : rgba(0,0,0,0.77);
$mono-strong       : rgba(0,0,0,0.70);
$mono-mid          : rgba(0,0,0,0.55);
$mono-weak         : rgba(0,0,0,0.35);
$mono-light        : rgba(0,0,0,0.20);
$light             : rgba(0,0,0,0.10);

// Rainbow

$brand-color       : rgba(243,156,18,1);
$brand-color-light : rgba(243,156,18,0.3);
$alt-color         : rgba(44,62,80,1);
$alt-color-light   : rgba(44,62,80,0.3);

// Shadows
$shadow-heavy      : rgba(0,0,0,0.9);
$shadow-strong     : rgba(0,0,0,0.7);
$shadow-mid        : rgba(0,0,0,0.5);
$shadow-weak       : rgba(0,0,0,0.2);
$shadow-light      : rgba(0,0,0,0.05);

// Flares
$flare-heavy       : rgba(255,255,255,0.9);
$flare-strong      : rgba(255,255,255,0.7);
$flare-mid         : rgba(255,255,255,0.5);
$flare-weak        : rgba(255,255,255,0.2);
$flare-light       : rgba(255,255,255,0.1);

/* Typography
----------------------------------------------- */
html { font-size: 62.5%; }

// Font Families
$primary-font      : 'Merriweather Sans', sans-serif;
$secondary-font    : 'Exo', sans-serif;

// Font Sizes
$font-h            : 4rem;

$font-xl           : 2.8rem;
$font-l            : 1.6rem;
$font-m            : 1.4rem;
$font-s            : 1.2rem;
$font-xs           : 1.1rem;

// Line Heights
$lheight-xl        : 2.4em;
$lheight-l         : 2.0em;
$lheight-m         : 1.6em;
$lheight-s         : 1.4em;
$lheight-xs        : 1.2em;

/* Spaces
----------------------------------------------- */
$space-h           : 8.0rem;

$space-xl          : 4.0rem;
$space-l           : 2.5rem;
$space-m           : 1.0rem;
$space-s           : 0.5rem;
$space-xs          : 0.2rem;

/* Border Radii
----------------------------------------------- */
$radius-absolute   : 100rem;
$radius-l          : 0.8rem;
$radius-m          : 0.6rem;
$radius-s          : 0.3rem;

/* Default definitions
----------------------------------------------- */
$dflt-background  : $bright;
$dflt-color       : $mono-heavy;
$dflt-font        : $primary-font;
$dflt-font-size   : $font-m;
$dflt-line-height : $lheight-m;