/* Layout Generic
------------------------------------------- */

/* ---------- Generic Properties ---------- */

// * {
//   @include box-sizing('border-box');
// }

.section {
  @include clearfix;
  padding: $space-h 0;
  position: relative;
}

.container {
  @include clearfix;
  margin: 0 auto;
  min-height: 100%;
  max-width: 960px;
}

.section > .container,
.footer > .container {
  max-width: 820px;
}