/* Layout Site
------------------------------------------- */

@import "config";

// Header
.lt_header {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}
.lt_header-navigation {
  text-align: right;
}
.lt_header-brandmark {
}

// Body
.lt_homefold {
  padding-top: 0;
  padding-bottom: 0;
  .lt_pitch {
    padding-top: $space-xl;
  }
}
.lt_pitch {
  margin-bottom: $space-h;
}
.lt_functionalities {
  // margin-top: $space-h;
}

.lt_feature {
  .feature-description,
  .feature-figure {
  }
  .feature-figure {
  }
  &.odd {
    .feature-description {
    }
    .feature-figure {
    }
  }
  &.even {
    .feature-description {
    }
    .feature-figure {
    }
  }
}
.lt_characteristic {
}
.lt_endorsement {
}

// Footer
.lt_footer-navigation {
  text-align: right;
}
.lt_footer-brandmark {
}
.lt_footer-imprint {
}