/* Layout Site
------------------------------------------- */

@import "config";

// Header
.lt_header {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}
.lt_header-navigation {
  text-align: right;
}

// Body
.lt_homefold {
  padding-top: $space-xl;
  padding-bottom: 0;
}
.lt_pitch {
  margin-bottom: $space-h;
}

// Footer
.lt_footer-navigation {
  text-align: right;
}