
/*
.browsehappy {
  padding: .2em !important;
  margin: 0;
  background: #333;
  color: #fff;
  padding: 0.2em 0;
  text-align: center; }*/

body.anonymous .user {
  display: none; }

body.user .anonymous {
  display: none; }
body.user .editable {
  cursor: text; }
  body.user .editable:hover {
    background-color: #FFF7DD; }
  body.user .editable:empty {
    background-color: #FFF7DD;
    min-width: 1em;
    /* min-width: 1em; */
    min-height: 1.2em;
    display: inline-block; }

table {
  border: none; }

#mediaPreview table button + button {
  margin-left: 1em; }

#mediaListView tbody tr:hover, #mixListView tbody tr:hover, #mixDetail tbody tr:hover {
  background-color: #FFF7DD; }
#mediaListView tbody tr td, #mixListView tbody tr td, #mixDetail tbody tr td {
  cursor: pointer;
  overflow: hidden; }

#loginForm button img, #registerForm button img {
  display: none;
}

p div.tags, p div.channels {
  min-width: 10em; }

table + table {
  margin-top: 2em; }

table caption {
  font-size: 24px; }

caption.collapsed:before {
  content: "+ "; }

caption.expanded:before {
  content: "- "; }

caption.expanded, caption.collapsed {
  cursor: pointer; }

tr.lone {
  display: none; }

.loading tr.lone {
  display: none; }
  .loading tr.lone:only-child {
    display: table-row; }
