
.browsehappy {
    padding: .2em !important;
    margin: 0;
    background: #333;
    color: #fff;
    padding: 0.2em 0;
    text-align: center;
}

body.anonymous {
  .user {
    display: none;
  }
}

body.user {
  .anonymous {
    display: none;
  }

  .editable {
  	cursor: text;
    &:hover {
    	background-color: lightyellow;
    }
    &:empty {
    	background-color: lightyellow;
    	min-width: 1em;
    }
  }
}

table {
	border: none;
}

td {
	font-size: 14px !important;
}

#mediaPreview table {
	button + button {
		margin-left: 1em;
	}
}

#mediaListView {
	tbody {
		tr {
			&:hover {
				background-color: lightyellow;
			}
			td {
				cursor: pointer;
			}
		}
	}
}

