
.browsehappy {
    padding: .2em !important;
    margin: 0;
    background: #333;
    color: #fff;
    padding: 0.2em 0;
    text-align: center;
}

body.anonymous {
  .user {
    display: none;
  }
}

body.user {
  .anonymous {
    display: none;
  }

  .editable {
    cursor: text;
    &:hover {
      background-color: #FFF7DD;
    }
    &:empty {
      background-color: #FFF7DD;
      min-width: 1em;
    }
  }
}

table {
  border: none;
}

// td {
//  font-size: 14px !important;
// }

#mediaPreview table {
  button + button {
    margin-left: 1em;
  }
}

#mediaListView, #mixListView, #mixDetail {
  tbody {
    tr {
      &:hover {
        background-color: #FFF7DD;
      }
      td {
        cursor: pointer;
      }
    }
  }
}

#loginForm button img {
  display: none;
}
