---
title: Ecosystem
---

<section class="section branded">
  <hgroup class="pitch">
    <h1 class="pitch-heading">
      <a href="#" class="brandmark">
        <%= image_tag 'inserts/logo-hyperaudio.png', :class => "brandmark-symbol" %>
        <span class="brandmark-label">Hyperaudio</span>
      </a>
    </h1>
    <h2 class="pitch-text">Select Area:</h2>
    <p><%= link_to 'Styleguide', '/styleguide/index.html' %></p>
    <p><%= link_to 'Site', '/site/index.html' %></p>
    <p><%= link_to 'Apps', '/apps/index.html' %></p>
  </hgroup>
</section>