---
title: Article
---

<section class="blog-article section">
  <div class="container row">
    <div class="large-10 small-12 large-offset-1 columns">
      <h1 class="article-heading">News from the Hyperaudio front.</h1>
      <article class="article">
        <div class="article-head">
          <h2 class="article-title">A random article title.</h2>
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
        <div class="article-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li>Exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in repreh</li>
            <li>Irem ipsum dolor sit amet, consectetur adipisicing</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <blockquote>Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </article>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <hgroup class="call">
      <h1 class="call-heading">Interested in Hyperaudio? <%= link_to 'Learn more.', 'tour.html' %></h1>
    </hgroup>
  </div>
</section>

<hr class="separator" />