---
title: Site
---

<hgroup class="pitch">
  <h1 class="pitch-title">Hyperaudio</h1>
  <h2 class="pitch-text">Transcript powered Audio and Video</h2>
</hgroup>

<section class="functionalities">
  <h1>Functionalities</h1>
  <div class="functionality">
    <h2 class="functionality-title">Navigate</h2>
    <p class="functionality-text">Skim through media quickly and intuitively. Click on text to be taken directly to the good stuff.</p>
  </div>
  <div class="functionality">
    <h2 class="functionality-title">Search</h2>
    <p class="functionality-text">Search transcripts to locate points of interest. Expose audio and video content to search engines.</p>
  </div>
  <div class="functionality">
    <h2 class="functionality-title">Edit</h2>
    <p class="functionality-text">Assemble content as simply as you would a document. Use hyperaudio to rapidly build audio visual pieces.</p>
  </div>
</section>

<section class="features">
  <h1>Features</h1>
  <div class="feature variation">
    <h2 class="feature-title">Shareable</h2>
    <p class="feature-text">Highlight or bookmark notable passages of audio and video. Share content on social networks or wherever you want.</p>
    <a href="#" class="feature-call">Learn more</a>
    <div class="feature-vis">
      <figure>
        <img src="" alt="Slide 1 Vis" />
        <figcaption>
          <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="feature">
    <h2 class="feature-title">Accesible</h2>
    <p class="feature-text">Watch words highlight exactly as they are spoken. Open up your media to deaf and the hard of hearing.</p>
    <a href="#" class="feature-call">Learn more</a>
    <div class="feature-vis">
      <figure>
        <img src="" alt="Slide 1 Vis" />
        <figcaption>
          <p>So happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="feature">
    <h2 class="feature-title">Extensible</h2>
    <p class="feature-text">Create your own Hyperaudio applications using our clientside libraries and APIs.</p>
    <a href="#" class="feature-call">Learn more</a>
    <div class="feature-vis">
      <figure>
        <img src="" alt="Slide 1 Vis" />
        <figcaption>
          <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="feature variation">
    <h2 class="feature-title">Responsive</h2>
    <p class="feature-text">At home, in the office or on the move - web-based Hyperaud.io responds to your device.</p>
    <a href="#" class="feature-call">Learn more</a>
    <div class="feature-vis">
      <figure>
        <img src="" alt="Slide 1 Vis" />
        <figcaption>
          <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<section class="endorsements">
  <h1>We’re praised by industry experts.</h1>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
  <div class="endorsment">
    <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
    <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
  </div>
</section>

<section class="supporters">
  <h1>We&rsquo;re loved and supported by the following organizations:</h1>
  <ul class="supporters-list">
    <li class="supporter"><a href="#">Mozilla</a></li>
    <li class="supporter"><a href="#">The Internet Archive</a></li>
    <li class="supporter"><a href="#"><abbr title="New York Public Radio">WNYC</abbr></a></li>
    <li class="supporter"><a href="#">Al Jazeera</a></li>
    <li class="supporter"><a href="#">Danish Radio</a></li>
  </ul>
</section>