---
title: Site
---

<section class="functionalities">
  <div class="lt_container">
    <hgroup class="pitch">
      <h1 class="pitch-heading">Transcript powered Audio and Video</h1>
    </hgroup>
  </div>
  <div class="lt_container">
    <div class="functionality">
      <h2 class="functionality-heading">Navigate</h2>
      <p class="functionality-text">Skim through media quickly and intuitively. Click on text to be taken directly to the good stuff.</p>
    </div>
    <div class="functionality">
      <h2 class="functionality-heading">Search</h2>
      <p class="functionality-text">Search transcripts to locate points of interest. Expose audio and video content to search engines.</p>
    </div>
    <div class="functionality">
      <h2 class="functionality-heading">Edit</h2>
      <p class="functionality-text">Assemble content as simply as you would a document. Use hyperaudio to rapidly build audio visual pieces.</p>
    </div>
  </div>
</section>

<section class="features">
  <div class="lt_container">
    <h1 class="lt_container-heading">Features</h1>
    <div class="feature variation">
      <h2 class="feature-heading">Shareable</h2>
      <p class="feature-text">Highlight or bookmark notable passages of audio and video. Share content on social networks or wherever you want.</p>
      <a href="#" class="feature-call">Learn more</a>
      <div class="feature-vis">
        <figure>
          <img src="" alt="Slide 1 Vis" />
          <figcaption>
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="feature">
      <h2 class="feature-heading">Accesible</h2>
      <p class="feature-text">Watch words highlight exactly as they are spoken. Open up your media to deaf and the hard of hearing.</p>
      <a href="#" class="feature-call">Learn more</a>
      <div class="feature-vis">
        <figure>
          <img src="" alt="Slide 1 Vis" />
          <figcaption>
            <p>So happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="feature">
      <h2 class="feature-heading">Extensible</h2>
      <p class="feature-text">Create your own Hyperaudio applications using our clientside libraries and APIs.</p>
      <a href="#" class="feature-call">Learn more</a>
      <div class="feature-vis">
        <figure>
          <img src="" alt="Slide 1 Vis" />
          <figcaption>
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="feature variation">
      <h2 class="feature-heading">Responsive</h2>
      <p class="feature-text">At home, in the office or on the move - web-based Hyperaud.io responds to your device.</p>
      <a href="#" class="feature-call">Learn more</a>
      <div class="feature-vis">
        <figure>
          <img src="" alt="Slide 1 Vis" />
          <figcaption>
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="endorsements">
  <div class="lt_container">
    <h1 class="lt_container-heading">Praised by Industry Experts</h1>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
    <div class="endorsement">
      <blockquote>Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
      <cite>— Ben Moskowitz, Mozilla and new media professor at NYU Interactive Telecommunications Program</cite>
    </div>
  </div>
</section>

<section class="supporters">
  <div class="lt_container">
    <h1 class="lt_container-heading">Loved and supported by The Amazable</h1>
    <ul class="supporters-list">
      <li class="supporter"><a href="#"><i class="icon-logo-mozilla" alt="Mozilla"></i></a></li>
<!--       <li class="supporter"><a href="#">The Internet Archive</a></li> -->
      <li class="supporter"><a href="#"><abbr title="New York Public Radio"><i class="icon-logo-wnyc" alt="WNYC"></i></abbr></a></li>
      <li class="supporter"><a href="#"><i class="icon-logo-aljazeera" alt="Al Jazeera"></i></a></li>
      <li class="supporter"><a href="#"><i class="icon-logo-bbc" alt="BBC"></i></a></li>
      <!-- <li class="supporter"><a href="#">Danish Radio</a></li> -->
    </ul>
  </div>
</section>